workflows/0ojGCN2R8r9Ngnnn.json
{
  "active": false,
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Read/Write Files from Disk",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read/Write Files from Disk": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "main",
            "index": 0
          },
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Code in JavaScript1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain": {
      "main": [
        [
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-11-27T09:45:32.166Z",
  "id": "0ojGCN2R8r9Ngnnn",
  "isArchived": false,
  "meta": null,
  "name": "Instagram Analytics to Optimized Schedule using llm",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        592,
        240
      ],
      "id": "e8e16edc-7cdb-4c68-abdf-9cf4a63370ed",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "fileSelector": "/tmp/New_folder/Dummy_Social_Media_Data.json",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        816,
        240
      ],
      "id": "4e2e2293-0316-477c-9047-47417eb0fbc2",
      "name": "Read/Write Files from Disk"
    },
    {
      "parameters": {
        "operation": "fromJson",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        1040,
        240
      ],
      "id": "721e01d8-0b8b-43d5-a20f-9949e256ff1b",
      "name": "Extract from File"
    },
    {
      "parameters": {
        "jsCode": "// Helper: Get time window from hour\nfunction getTimeWindow(hour) {\n  if (hour < 12) return \"Morning\";\n  if (hour < 18) return \"Afternoon\";\n  return \"Evening\";\n}\n\n// Aggregate engagement data\nconst data = $input.all();\nconst grouping = {};\n\nfor (const item of data) {\n  const row = item.json;\n  const postDate = row['Post Date'] || row['post_date'];\n  const postTime = row['Post Time'] || row['post_time'];\n  const contentType = row['Content Type'] || row['content_type'];\n  \n  if (!postDate || !postTime || !contentType) continue;\n  \n  const dt = new Date(`${postDate}T${postTime}`);\n  const weekday = dt.toLocaleDateString('en-US', { weekday: 'long' });\n  const hour = dt.getHours();\n  const window = getTimeWindow(hour);\n  \n  const key = `${contentType}|${weekday}|${window}`;\n  \n  if (!grouping[key]) {\n    grouping[key] = { \n      total: 0, \n      count: 0, \n      weekday, \n      window, \n      type: contentType \n    };\n  }\n  \n  const likes = Number(row.Likes || row.likes || 0);\n  const comments = Number(row.Comments || row.comments || 0);\n  const reach = Number(row.Reach || row.reach || 0);\n  const engagement = likes + comments + reach;\n  \n  grouping[key].total += engagement;\n  grouping[key].count += 1;\n}\n\n// Find top time slots for each content type\nconst results = {};\nObject.values(grouping).forEach(slot => {\n  if (!results[slot.type]) results[slot.type] = [];\n  results[slot.type].push({\n    avgEngagement: slot.total / slot.count,\n    weekday: slot.weekday,\n    window: slot.window\n  });\n});\n\n// Sort and pick top 5 per type\nObject.keys(results).forEach(type => {\n  results[type].sort((a, b) => b.avgEngagement - a.avgEngagement);\n  results[type] = results[type].slice(0, 5);\n});\n\nreturn [{ json: results }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        592,
        -304
      ],
      "id": "09f8a3ef-bdbf-431e-b5f9-c6cc6b703602",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "jsCode": "// Get the analysis results from previous node\nconst analysisResults = $input.first().json;\n\n// Define content plan\nconst contentPlan = [\n  { type: 'Post', count: 15 },\n  { type: 'Story', count: 8 },\n  { type: 'Reel', count: 8 }\n];\n\n// Get next month date range\nconst today = new Date();\nconst nextMonth = new Date(today.getFullYear(), today.getMonth() + 1, 1);\nconst monthAfter = new Date(today.getFullYear(), today.getMonth() + 2, 0);\nconst daysInMonth = monthAfter.getDate();\n\nconst schedule = [];\n\nfor (const plan of contentPlan) {\n  const slots = analysisResults[plan.type] || [];\n  if (slots.length === 0) continue;\n  \n  let count = plan.count;\n  const interval = Math.floor(daysInMonth / count);\n  \n  for (let i = 0; i < count; i++) {\n    const dayOfMonth = Math.min((i * interval) + 1, daysInMonth);\n    const date = new Date(nextMonth.getFullYear(), nextMonth.getMonth(), dayOfMonth);\n    \n    // Get the best slot for this content type\n    const slot = slots[i % slots.length];\n    \n    // Determine time based on window\n    let time = '10:00';\n    if (slot.window === 'Afternoon') time = '15:00';\n    else if (slot.window === 'Evening') time = '20:00';\n    \n    schedule.push({\n      Date: date.toISOString().split('T')[0],\n      Time: time,\n      Type: plan.type,\n      Window: slot.window,\n      Weekday: date.toLocaleDateString('en-US', { weekday: 'long' }),\n      Reason: `${slot.weekday} ${slot.window} - Avg Engagement: ${Math.round(slot.avgEngagement)}`\n    });\n  }\n}\n\n// Sort by date\nschedule.sort((a, b) => new Date(a.Date) - new Date(b.Date));\n\nreturn schedule.map(item => ({ json: item }));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        816,
        -304
      ],
      "id": "73b8dfaf-fd43-4732-bceb-f0dc0b4f9cbe",
      "name": "Code in JavaScript1"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "mode": "list",
          "value": ""
        },
        "sheetName": {
          "__rl": true,
          "mode": "list",
          "value": ""
        }
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1616,
        48
      ],
      "id": "e8d92b94-9839-4690-8189-364d03e72a75",
      "name": "Append row in sheet"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.data }}",
        "messages": {
          "messageValues": [
            {
              "message": "=You are a data analyst specializing in Instagram analytics. Your task is to analyze historical data for posts, stories, and reels, focusing on the following key engagement metrics: likes, views, comments, shares, etc. Specifically, you will:  1. **Analyze the data** to identify the time and date when posts, stories, and reels received the highest engagement (i.e., highest reach across likes, comments, shares, and views).\n2. **Create a content schedule** for the upcoming month based on the analysis. Provided \"15 posts, 8 reels, 8 stories\", which specify the number and type of content to be scheduled.\n3. Using the insights from your analysis, **generate an optimized posting schedule** that maximizes reach for the specified content types. The schedule should include:\n  - Exact posting times (e.g., Tuesday, 3:00 PM)\n  - Specific days and times when engagement was historically highest\n4. Ensure that the schedule is tailored to **increase engagement** and reach based on previous trends, making recommendations for the best combination of time, date, and content type.\nPlease consider:\n  - Trends in engagement over different times of the day and days of the week.\n  - Patterns observed for different types of content (posts, stories, reels).\n  - Any recurring patterns that maximize reach for specific content types."
            }
          ]
        },
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.7,
      "position": [
        1264,
        -80
      ],
      "id": "a8a6876f-b152-46bc-85b5-efe39a3b6a74",
      "name": "Basic LLM Chain"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        1344,
        160
      ],
      "id": "11cc4085-3948-40ba-8ebb-43600fa08d6b",
      "name": "Google Gemini Chat Model"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.data }}",
        "options": {
          "systemMessage": "=You are a data analyst specializing in Instagram analytics. Your task is to analyze historical data for posts, stories, and reels, focusing on the following key engagement metrics: likes, views, comments, shares, etc. Specifically, you will:  1. **Analyze the data** to identify the time and date when posts, stories, and reels received the highest engagement (i.e., highest reach across likes, comments, shares, and views).\n2. **Create a content schedule** for the upcoming month based on the analysis. Provided \"15 posts, 8 reels, 8 stories\", which specify the number and type of content to be scheduled.\n3. Using the insights from your analysis, **generate an optimized posting schedule** that maximizes reach for the specified content types. The schedule should include:\n  - Exact posting times (e.g., Tuesday, 3:00 PM)\n  - Specific days and times when engagement was historically highest\n4. Ensure that the schedule is tailored to **increase engagement** and reach based on previous trends, making recommendations for the best combination of time, date, and content type.\nPlease consider:\n  - Trends in engagement over different times of the day and days of the week.\n  - Patterns observed for different types of content (posts, stories, reels).\n  - Any recurring patterns that maximize reach for specific content types."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        1264,
        448
      ],
      "id": "bc3353f0-1cbf-46e8-9c44-76081dbe53a1",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        1280,
        672
      ],
      "id": "3e897345-c4fc-4da3-a54e-447f52e808e4",
      "name": "Google Gemini Chat Model1"
    },
    {
      "parameters": {
        "contextWindowLength": 20
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        1408,
        672
      ],
      "id": "1f5a87dc-db90-4401-8113-2ea54fded09c",
      "name": "Simple Memory"
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "shared": [
    {
      "updatedAt": "2025-11-27T09:45:32.183Z",
      "createdAt": "2025-11-27T09:45:32.183Z",
      "role": "workflow:owner",
      "workflowId": "0ojGCN2R8r9Ngnnn",
      "projectId": "LWAlEY3p5dqeoHI6"
    }
  ],
  "staticData": null,
  "tags": [
    {
      "updatedAt": "2025-11-27T09:45:17.098Z",
      "createdAt": "2025-11-27T09:45:17.098Z",
      "id": "LpCfSTD0Wl2dg0bi",
      "name": "KERYAR"
    }
  ],
  "triggerCount": 0,
  "updatedAt": "2025-11-27T09:45:32.166Z",
  "versionId": "69f90e5d-fd8f-41ce-bfa9-37aba7efa318"
}