workflows/LTQ71uW4jdYbyBpf.json
{
  "active": false,
  "connections": {
    "Groq Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain": {
      "main": [
        [
          {
            "node": "Discord",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Groq Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_languageModel",
            "index": 1
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Discord": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "RSS Read",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RSS Read": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-12-02T09:04:24.247Z",
  "id": "LTQ71uW4jdYbyBpf",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "News Workflow 2.0 XDA List",
  "nodes": [
    {
      "parameters": {
        "promptType": "define",
        "text": "=Hey! Your job is to summarise the article in bullet points, extracting the most important details. Format it neatly and use a few emojis for better look.\n\nOutput format:\n• Source: {WebsiteName}\n• Author: {AuthorName if available}\n• Published: {Date}\n• Category: {e.g., Tech / Business / Sports / Entertainment / Politics}\n• Reading time (approx): {X min}\n\nKey Takeaway: {One-line summary of why it matters}\n\nSummary bullets:\n– {Important point 1}\n– {Important point 2}\n– {Important point 3}\n…\n\n🔗 Read full article: {Link}\n\nTitle: {{ $json.title }}\nLink: {{ $json.link }}\nSnippet: {{ $json.contentSnippet }}\nContent: {{ $json.content }}\nGUID: {{ $json.guid }}\nPubDate: {{ $json.pubDate }}",
        "needsFallback": true,
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.7,
      "position": [
        1584,
        672
      ],
      "id": "c386dbb8-3fb6-4a37-915e-ec9438524c13",
      "name": "Basic LLM Chain"
    },
    {
      "parameters": {
        "model": "openai/gpt-oss-120b",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        1488,
        848
      ],
      "id": "9d3dc592-0b47-4dce-a946-f487113f7d9a",
      "name": "Groq Chat Model",
      "credentials": {
        "groqApi": {
          "id": "5ak8btP5PbtODyhw",
          "name": "Groq account"
        }
      }
    },
    {
      "parameters": {
        "authentication": "webhook",
        "content": "=THERE YOU GO -\n{{ $json.text }}",
        "options": {}
      },
      "type": "n8n-nodes-base.discord",
      "typeVersion": 2,
      "position": [
        1936,
        800
      ],
      "id": "736f2687-796a-46e9-a80b-637fd9bffad0",
      "name": "Discord",
      "webhookId": "4b6c61d6-2564-4870-8328-ea8d1c699135",
      "credentials": {
        "discordWebhookApi": {
          "id": "QOTC9UiAmzMc8YAM",
          "name": "Discord XDA Summaries Webhook account"
        }
      }
    },
    {
      "parameters": {
        "amount": 20
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1360,
        672
      ],
      "id": "8591dbbd-22a2-4871-8cf4-a30564991043",
      "name": "Wait",
      "webhookId": "71945df9-3f2b-4d26-a40b-aeaf0348ccfa"
    },
    {
      "parameters": {
        "model": "meta-llama/llama-4-maverick-17b-128e-instruct",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        1728,
        848
      ],
      "id": "0c7da344-57da-448e-a117-e9291cec832c",
      "name": "Groq Chat Model1",
      "credentials": {
        "groqApi": {
          "id": "5ak8btP5PbtODyhw",
          "name": "Groq account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        1136,
        800
      ],
      "id": "816b83d8-5f7f-4487-80d5-000725875af2",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\n  \"content\": null,\n  \"embeds\": [\n    {\n      \"title\": \"📰 Title of article\",\n      \"description\": \"**Source:** WebsiteName\\n**Author:** AuthorName\\n**Published:** Date\\n**Category:** Category\\n\\n**Key Takeaway:** …\\n\\n**Summary:**\\n– bullet1\\n– bullet2\\n– bullet3\\n\\n🔗 [Read full article](URL)\",\n      \"color\": 3447003\n    }\n  ]\n}\n"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        1616,
        1024
      ],
      "id": "5ad35b2a-9c2b-4569-9486-0f77f85ebf36",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        464,
        800
      ],
      "id": "c07bd815-0d63-4933-9bb8-e066d3d1620c",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "jsCode": "return[\n  { \"json\": { \"feed\": \"https://www.xda-developers.com/feed/\" } },\n  { \"json\": { \"feed\": \"https://www.xda-developers.com/feed/news/\" } },\n  { \"json\": { \"feed\": \"https://www.xda-developers.com/feed/category/pc-hardware/\" } },\n  { \"json\": { \"feed\": \"https://www.xda-developers.com/feed/processor/\" } },\n  { \"json\": { \"feed\": \"https://www.xda-developers.com/feed/productivity/\" } },\n  { \"json\": { \"feed\": \"https://www.xda-developers.com/feed/devices/\" } },\n  { \"json\": { \"feed\": \"https://www.xda-developers.com/feed/laptops/\" } },\n  { \"json\": { \"feed\": \"https://www.xda-developers.com/feed/networking/\" } },\n  { \"json\": { \"feed\": \"https://www.xda-developers.com/feed/smart-home/\" } },\n  { \"json\": { \"feed\": \"https://www.xda-developers.com/feed/software-and-services/\" } },\n  { \"json\": { \"feed\": \"https://www.xda-developers.com/feed/gaming/\" } }\n]"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        688,
        800
      ],
      "id": "5f0b4541-8ce8-4840-8dd6-72f0f621e1f9",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "url": "={{ $json.feed }}",
        "options": {}
      },
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1.2,
      "position": [
        912,
        800
      ],
      "id": "d26cce7c-a5e3-45af-9e1b-b706214d69f8",
      "name": "RSS Read"
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "shared": [
    {
      "updatedAt": "2025-12-02T09:04:24.292Z",
      "createdAt": "2025-12-02T09:04:24.292Z",
      "role": "workflow:owner",
      "workflowId": "LTQ71uW4jdYbyBpf",
      "projectId": "LWAlEY3p5dqeoHI6"
    }
  ],
  "staticData": null,
  "tags": [
    {
      "updatedAt": "2025-12-12T06:34:30.450Z",
      "createdAt": "2025-12-12T06:34:30.450Z",
      "id": "6TDCjlUJCB2eki1P",
      "name": "NEWS"
    },
    {
      "updatedAt": "2025-11-27T09:44:29.563Z",
      "createdAt": "2025-11-27T09:44:29.563Z",
      "id": "SsELVvolJDi1dvB6",
      "name": "Personal"
    }
  ],
  "triggerCount": 0,
  "updatedAt": "2025-12-12T06:34:31.000Z",
  "versionId": "b906afd9-0a2a-47e8-ae65-ec8c3049c1fd"
}