workflows/rUs6Rk6EvsYlypmD.json
{
  "active": false,
  "connections": {
    "When chat message received": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          },
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          },
          {
            "node": "Wait1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory1": {
      "ai_memory": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model2": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent2",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory2": {
      "ai_memory": [
        [
          {
            "node": "AI Agent2",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Discord",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent1": {
      "main": [
        [
          {
            "node": "Wait2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent2": {
      "main": [
        [
          {
            "node": "Wait3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "AI Agent1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait1": {
      "main": [
        [
          {
            "node": "AI Agent2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait2": {
      "main": [
        [
          {
            "node": "Discord",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait3": {
      "main": [
        [
          {
            "node": "Discord",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-12-03T11:50:21.076Z",
  "id": "rUs6Rk6EvsYlypmD",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "Auto_fill_Multiple_Rephrase_Assistant_03_12_2025",
  "nodes": [
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.4,
      "position": [
        0,
        512
      ],
      "id": "4ec08f43-a9f3-4840-b0d3-00f3d001d647",
      "name": "When chat message received",
      "webhookId": "c7744f81-ed58-4bfa-b122-021c3424ba0f"
    },
    {
      "parameters": {
        "hasOutputParser": true,
        "options": {
          "systemMessage": "You are a professional writer skilled at crafting concise yet informative descriptions. Your task is to take a few keywords, phrases, or lines of data and generate a brief, engaging description that encapsulates the essential content, adding depth while keeping it succinct and clear."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        640,
        0
      ],
      "id": "1aa546b3-6c37-4e94-9b57-1e4f5a1ff220",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        656,
        224
      ],
      "id": "8066c824-0338-4f69-9677-1698013a5e50",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "a6RDFEBnPzOeghGl",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        784,
        224
      ],
      "id": "9d9b6da6-a6e5-4c90-b2aa-6a23bafff4fd",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "hasOutputParser": true,
        "options": {
          "systemMessage": "You are a professional writer skilled at crafting concise yet informative descriptions. Your task is to take a few keywords, phrases, or lines of data and generate a brief, engaging description that encapsulates the essential content, adding depth while keeping it succinct and clear."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        640,
        400
      ],
      "id": "58c41e96-defc-492f-95a6-740ecd3e0a40",
      "name": "AI Agent1"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        656,
        624
      ],
      "id": "b8f06058-ea4f-4da2-8bf8-79748eeab9e4",
      "name": "Google Gemini Chat Model1",
      "credentials": {
        "googlePalmApi": {
          "id": "a6RDFEBnPzOeghGl",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        784,
        624
      ],
      "id": "1e06b6e3-9941-4b96-b8c8-9de45814a62d",
      "name": "Simple Memory1"
    },
    {
      "parameters": {
        "hasOutputParser": true,
        "options": {
          "systemMessage": "You are a professional writer skilled at crafting concise yet informative descriptions. Your task is to take a few keywords, phrases, or lines of data and generate a brief, engaging description that encapsulates the essential content, adding depth while keeping it succinct and clear."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        640,
        912
      ],
      "id": "d14a8ca0-c382-43c5-95cc-0eaded29d160",
      "name": "AI Agent2"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        656,
        1136
      ],
      "id": "edb6c089-8b41-484f-bbac-9fd080ddc7a7",
      "name": "Google Gemini Chat Model2",
      "credentials": {
        "googlePalmApi": {
          "id": "a6RDFEBnPzOeghGl",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        784,
        1136
      ],
      "id": "5541ee79-b66a-40fe-bb56-fa85b5c07d04",
      "name": "Simple Memory2"
    },
    {
      "parameters": {
        "authentication": "webhook",
        "content": "={{ $json.output }}",
        "options": {}
      },
      "type": "n8n-nodes-base.discord",
      "typeVersion": 2,
      "position": [
        1520,
        480
      ],
      "id": "f02ab064-34a7-4968-ae2d-a597dca88a95",
      "name": "Discord",
      "webhookId": "9f1487bb-816f-40ff-936c-08acc261a5d4",
      "credentials": {
        "discordWebhookApi": {
          "id": "AQ8cE2Xo8x5XbZAW",
          "name": "Discord Webhook account 2"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        416,
        512
      ],
      "id": "526e2642-e66d-433e-8bf6-2158bb65845c",
      "name": "Wait",
      "webhookId": "858c6c7b-1779-44c5-a0d4-444d6ac857e6"
    },
    {
      "parameters": {
        "amount": 10
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        336,
        768
      ],
      "id": "320fde84-0f0b-4639-b252-5b203d247365",
      "name": "Wait1",
      "webhookId": "22f60bca-65eb-4844-9d90-d7517d240f3a"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        992,
        400
      ],
      "id": "36de630f-c53e-4929-9e29-6a4d8adc90de",
      "name": "Wait2",
      "webhookId": "af14df10-3f48-4841-9aa8-320a1351338d"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        992,
        912
      ],
      "id": "5958f457-fd82-485a-9a1b-b03574e523e4",
      "name": "Wait3",
      "webhookId": "4a4fc4c6-9e7d-4a74-9ae9-5d923787055a"
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "shared": [
    {
      "updatedAt": "2025-12-03T11:50:21.091Z",
      "createdAt": "2025-12-03T11:50:21.091Z",
      "role": "workflow:owner",
      "workflowId": "rUs6Rk6EvsYlypmD",
      "projectId": "LWAlEY3p5dqeoHI6"
    }
  ],
  "staticData": null,
  "tags": [
    {
      "updatedAt": "2025-11-27T09:45:17.098Z",
      "createdAt": "2025-11-27T09:45:17.098Z",
      "id": "LpCfSTD0Wl2dg0bi",
      "name": "KERYAR"
    }
  ],
  "triggerCount": 0,
  "updatedAt": "2025-12-03T12:07:46.000Z",
  "versionId": "7d11c276-755e-4680-80fb-23415f4120e5"
}